@model Forum_descussion_ASP.NET_core_mvc.Models.UserModel

@{
    ViewData["Title"] = "Mes données personnelles";
}
<partial name="../Shared/Nav_connected.cshtml" />


<link rel="stylesheet" href="~/css/questions.css" />


<div class="container">
    <main role="main" class="pb-3">



<div class="div-btn-choix">
    <a id="btn-mes-questions" asp-controller="Question" asp-action="MesQuestions" asp-route-id="@Model?.Id">Mes Questions </a>
    <a id="btn-mes-enregistrements" asp-controller="Enregistrement" asp-action="Index" asp-route-id="@ViewData["iduser"]">Mes Enregistrements </a>
    <a id="btn-mes-donnees-personnelles" asp-controller="User" asp-action="Credential" asp-route-id="2">Mes Données Personelles</a>
    <a id="btn-nouveau" asp-controller="Question" asp-action="Create">Nouveau</a>
            <a asp-controller="Home" asp-action="Logout">Se déconnecter </a>

        </div>


<div id="mes-donnees-personnelles-contenu">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.Password)*@
            ************************
        </dd>
    </dl>
   
    <div>
        <a class="btnnn" asp-action="Delete">Delete</a> 
        <a class="btnnn" asp-action="Edit">Edit</a>
    </div>

</div>

</main>
</div>
<style>
    a {
        text-decoration: none;
        color: dimgrey;
    }

    .div-btn-choix a {
        text-decoration: none;
        color: white;
    }

    .btnnn{
        background-color: #9a7ce3;
        color : white;
        padding : 7px 13px;
        border-radius : 7px;
    }

    #mes-donnees-personnelles-contenu {
        background-color: white;
        padding: 30px;
        margin: 20px auto;
        border-radius: 15px;
    }

</style>


<script>
    $("#mes-donnees-personnelles-contenu").show()

    $(".div-btn-choix button").css("color", "#7b8598");
    $(".div-btn-choix button").css("background-color", "transparent");
    $("#btn-mes-donnees-personnelles").css("color", "#f3ebff");
    $("#btn-mes-donnees-personnelles").css("background-color", "#9a7ce3");

  
</script>