@model IEnumerable<Forum_descussion_ASP.NET_core_mvc.Models.ResponseModel>
<link rel="stylesheet" href="~/css/ajouter-forum.css" />
<link rel="stylesheet" href="~/css/reponse.edit.delete.css" />

@{
    ViewData["Title"] = "Details";
    var iduser = ViewData["iduser"];
    var isResolu = ViewData["isResolu"];
    var datecreation = @ViewData["DateCreation"];
    var idquestion = @ViewData["idquestion"];
    var idAuteurQuestion = ViewData["AuteurId"];
    var idSolution = ViewData["idSolution"];
}


@if (iduser.Equals(0))
{
    <partial name="../Shared/Nav_non_connected.cshtml" />
}

else
{
    <partial name="../Shared/Nav_connected.cshtml" />

}

<link rel="stylesheet" href="~/css/question_detail.css" />

<div class="container">
    <main role="main" class="pb-3">

        <div class="forum-question1">
            <div class="question-categorie"> Posted in: 

                <a style="font-weight:800; color: #9a7ce3;" href="/Topic/TopicName?name=@ViewData["Topic"]">
                    @ViewData["Topic"]
                </a>
            </div>
            <h3 class="question-titre">
                
                @ViewData["Titre"] 
                @if (isResolu.Equals(true))
                {
                    <div style="color: #318CE7; display: inline;">
                        ( Résolu )   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" color="#318CE7" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                            <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708" />
                        </svg>
                    </div>
                }
            </h3>
            
            <div class="div-corps">
            <div class="left">
                <img class="question-auteur-image" src="@ViewData["Photo"]" />
                <div>

                    <form method="post" action="/Enregistrement/postEnregistrerQuestion">
                        <input type="hidden" name="QuestionId" value="@ViewData["idquestion"]" />
                        <input type="hidden" name="UserId" value="@ViewData["iduser"]" />
                        <button type="submit" class="btn-save">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            <div class="right">
                <div>
                    <div class="question-auteur-nom">  <a href="/Question/LeursQuestions/@ViewData["AuteurId"]"> @ViewData["NameUser"]  </a>  </div>
                    <div class="question-date-creation">
                        @ViewData["DateCreation"]

                    </div>
                </div>

                <div class="question-contenu">
                   
                        @Html.Raw( @ViewData["Description"])
                </div>
            </div>
            </div>
            
        </div>
        
        <div id="edit_response_partialzone"></div>
        <div id="delete_response_partialzone"></div>
    @foreach (var item in Model)
    {
     
    <div class="forum-reponse">

                <div class="div-corps">
                    <div class="left">
                        <img class="reponse-auteur-image" src="@item.User.Photo" />

                            @if (item.UserId.Equals(iduser))
                            {
                                @*<a class="btn-edit-response" asp-controller="Response" asp-action="Edit" asp-route-id="@item.Id">*@
                            <button class="btn-edit-response" onclick="open_edit_reponse(@item.Id)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                    </svg>
                            </button> <br />

                            <button onclick="open_delete_reponse(@item.Id)" class="btn-edit-response">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                    </svg>
                            </button>

                            }
                            else
                            {

                                <form method="post" action="/Enregistrement/postEnregistrerReponse">
                                    <input type="hidden" name="QuestionId" value="@ViewData["idquestion"]" />
                                    <input type="hidden" name="ResponseId" value="@item.Id" />
                                    <input type="hidden" name="UserId" value="@ViewData["iduser"]" />
                                    <button type="submit" class="btn-save">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                        </svg>
                                    </button>
                                </form>

                            }

                          @if (idSolution.Equals(@item.Id))
                            {

                                if (iduser.Equals(idAuteurQuestion))
                                {
                                    <button onclick="removeBonneReponse()" style="background-color:transparent; border:none; padding:0; margin:0;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" color="#318CE7" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708" />
                                    </svg>
                                    </button>

                                }
                            }

                    </div>

                    <div class="right">
                        <div>
                            <div class="reponse-auteur-nom">  <a href="/Question/LeursQuestions/@item.UserId"> @Html.DisplayFor(modelItem => item.User.NameUser ) </a></div>
                            <div class="reponse-date-creation">  @Html.DisplayFor(modelItem => item.DateCreation , "{0:MM/dd/yyyy}") </div>
                        </div>
                        <div class="reponse-contenu">
                            @*@Html.DisplayFor(modelItem => item.ResponseContent)*@
                            @Html.Raw(item.ResponseContent)
                        </div>
                          @if (idSolution.Equals(0))
                            {
                                if (iduser.Equals(idAuteurQuestion))
                                {
                                <button onclick="choiceBonneReponse(@item.Id)" title="Est ce que cette réponse répond à votre question ?" style="background-color:transparent; border:none; padding:5px; margin:0;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="dodgeblue" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                      <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
                                    </svg> ?
                                </button>
                                }
                            }
                        </div>
                  </div>
</div>
         
    }

    <div id="createreponse"></div>

        @section Scripts{
            <script>

                function removeBonneReponse() {
                    let text = "Cette réponse n'est pas la bonne ?";
                    if (confirm(text) == true) {
                        document.location.href = "/Question/removeQuestionResolu?idQuestion=@ViewData["idquestion"]";
                    }
                }

                function choiceBonneReponse(id ) {
                    let text = "Cette réponse répond à votre question ?";
                    if (confirm(text) == true) {
                        document.location.href = "/Question/addQuestionResolu?idQuestion=@ViewData["idquestion"]&idResponseSolution="+id;
                    }
                }


                $('#updatereponse').hide();
               // $('#updatereponse').load("/Response/Edit?id=" + @idquestion)

                $('#createreponse').load("/Response/Create?id=" + @idquestion)






                function response_delete_close() {
                    $("#delete_response_partialzone").hide();

                }

                function response_edit_close() {
                    $("#edit_response_partialzone").hide();

                }

             
                function open_edit_reponse( id ) {
                    $('#edit_response_partialzone').load("/Response/EditPartial?id=" + id)
                    $("#edit_response_partialzone").show();
                    $("#delete_response_partialzone").css("display", "none");

                }

                function open_delete_reponse(id) {
                    $('#delete_response_partialzone').load("/Response/DeletePartial?id=" + id)
                    $("#delete_response_partialzone").show();
                    $("#edit_response_partialzone").css("display", "none");

                }
            </script>
        }



         



    </main></div>
