@model Forum_descussion_ASP.NET_core_mvc.Models.ResponseModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <main role="main" class="pb-3">



<h1>Edit</h1>

<h4>ResponseModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@ViewData["ResponseId"]" />
            <input type="hidden" asp-for="UserId" value="@ViewData["UserId"]" />
            <input type="hidden" asp-for="QuestionId" value="@ViewData["QuestionId"]" />
            <input type="hidden" asp-for="DateCreation" value="@DateTime.Now" />

         
            <div class="form-group">
                <label asp-for="ResponseContent" class="control-label"></label>
                <input asp-for="ResponseContent" class="form-control" />
                <span asp-validation-for="ResponseContent" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Question" asp-action="Details" asp-route-id="@ViewData["QuestionId"]">Back to List</a>
</div>

</main>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
