@model Forum_descussion_ASP.NET_core_mvc.Models.ResponseModel

@{
    ViewData["Title"] = "Edit";
}

        <form asp-action="Edit" id="form-edit-reponse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@ViewData["ResponseId"]" />
            <input type="hidden" asp-for="UserId" value="@ViewData["UserId"]" />
            <input type="hidden" asp-for="QuestionId" value="@ViewData["QuestionId"]" />
            <input type="hidden" asp-for="DateCreation" value="@DateTime.Now" />

         
            <div class="form-group">
                <textarea asp-for="ResponseContent" class="form-control" ></textarea>
                <span asp-validation-for="ResponseContent" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-primary" />
            </div>

                    <div style="display: block; text-decoration : none; color : dimgray; padding: 10px 0;">
                        <a asp-controller="Question" asp-action="Details" asp-route-id="@ViewData["QuestionId"]">Back to List</a>
                    </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

                <style>

        body {
            background-color: #455e6a;
          
        }

        #form-edit-reponse{
            background-color : white;
            border-radius : 15px;
            padding : 15px;
            margin: 50px auto;
            width : 600px;
        }

        #form-edit-reponse textarea{
                width: 100%;
                padding: 10px;
            }

                </style>